.intro {
    --color-gb-bg: hsl(56, 68%, 45%);
    --color-gb-fg: hsl(76, 70%, 10%);
    --color-gb-border: hsl(189, 7%, 36%);
    --radius-1: 8px;
    --radius-4: 32px;
}

@keyframes blinking {
    50% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}